{% ckan_extends %}

{% block primary_content %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet-src.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.0/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.0/dist/leaflet.markercluster-src.js"></script>

    <div id="map" style="height: 360px;"></div>

    <script type="text/javascript">

        var geosArray = [];
        {% for r in map_results %}
            geosArray.push([{{ r[0] }}, {{ r[1] }}, "{{r[2]}}", "{{r[3]}}"]);
        {% endfor %}

        var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 18,
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2019 LINZ'
                }),
                latlng = L.latLng(52.3745403,4.89797550561798);

        var map = L.map('map', {center: latlng, zoom: 5, layers: [tiles]});

        var markers = L.markerClusterGroup({
            maxClusterRadius: 30
        });

        for (var i = 0; i < geosArray.length; i++) {
                var a = geosArray[i];
                var title = "<a href=\"dataset\\" + a[3] + "\">"+a[2]+"</a>";
                // var title = a[2];
                var marker = L.marker(new L.LatLng(a[0], a[1]), { title: title });
                marker.bindPopup(title);
                markers.addLayer(marker);
        }

        map.addLayer(markers);
        geosArray = null;
        markers = null;
        window.onbeforeunload = function(){
            map = null;
            return null;
        };
        </script>

    {{ super() }}
    {{ h.facet_len(map_results) }}


{% endblock %}

{#
{% block secondary_content %}
    {% snippet 'spatial/snippets/spatial_query.html' %}
    {{ super() }}
{% endblock %}
#}