{% ckan_extends %}

{% block primary_content %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet-src.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.0/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.0/dist/leaflet.markercluster-src.js"></script>

    <div id="map" style="height: 360px;"></div>

    <script type="text/javascript">

        var geosArray = [];
        {# for r in c.page.items #}
        {% for r in c.page.full_results %}
            {% for spatial in r['extras'] %}
                {% if spatial['key'] == 'spatial' %}
                    {% set markers = h.facet_loadjson(spatial['value']) %}
                    {% for geopoint in markers['coordinates'] %}
                        geosArray.push([{{ geopoint[0] }}, {{ geopoint[1] }}, "{{r['name']}}"]);
                    {% endfor %}
                {% endif %}

            {% endfor %}
        {% endfor %}

        var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 18,
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2019 LINZ'
                }),
                latlng = L.latLng(52.3745403,4.89797550561798);

        var map = L.map('map', {center: latlng, zoom: 5, layers: [tiles]});

        var markers = L.markerClusterGroup({
            maxClusterRadius: 30
        });

        for (var i = 0; i < geosArray.length; i++) {
                var a = geosArray[i];
                var title = a[2];
                var marker = L.marker(new L.LatLng(a[0], a[1]), { title: title });
                marker.bindPopup(title);
                markers.addLayer(marker);
        }

        map.addLayer(markers);
        </script>

    {{ super() }}
    {{ h.facet_len(c.page.full_results) }}

{% endblock %}

{#
{% block secondary_content %}
    {% snippet 'spatial/snippets/spatial_query.html' %}
    {{ super() }}
{% endblock %}
#}